p {
margin: 0 0 9px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 13px;
line-height: 18px;
}
p small {
font-size: 11px;
color: #999999;
}
.lead {
margin-bottom: 18px;
font-size: 20px;
font-weight: 200;
line-height: 27px;
}
#outer-content {
	width: 75%;
	background-color: pink;
	align-content: left;
}
#inner-content {
	width: 75%;
        background-color: blue;
	align-content: center;
}
#a_row {
        background-color: red;
}
#a_row {
        background-color: green;
}
